@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

body { font-family: sans-serif; margin: 0; }
h1 { font-family: "Baloo Bhaijaan 2", Helvetica, sans-serif; font-size: 2.2em }
h1, h2 { text-align: center; }
h1 { margin-block-start: 0; margin-block-end: 0; }
h2 { margin-block-end: 0.2em; }
a { text-decoration: none; }
p { margin-block-start: 0; margin-block-end: 0; padding-top: 0.5em; padding-bottom: 0.5em; }
a:hover { text-decoration: underline; }
label, input, select, button { font-size: 100%; }
label { font-weight: normal !important; cursor: pointer; }
button { cursor: pointer; border: 1px solid gray; background-color: whitesmoke; }
button:hover { border: 1px solid black; background-color: lightgray; }
input[type=checkbox] { cursor: pointer; zoom: 2; float: left; margin-right: 0.2em !important; filter:hue-rotate(140deg); }
input[type=checkbox]:disabled { cursor: not-allowed; }
.slider:hover { cursor: pointer; }
input[type=range]:disabled:hover { cursor: not-allowed; }
input[type=range]:disabled::-webkit-slider-thumb { cursor: not-allowed; }
.slider::-webkit-slider-thumb {
								-webkit-appearance: none;
								appearance: none;
								width: 25px;
								height: 25px;
								background: grey;
								cursor: pointer;
								border-radius: 12px;
								}

#header {
			background-color: rgba(128, 128, 128, 0.2);
			padding: 0.5em 0;
		}

#toolbar {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			place-content: center;
			vertical-align: top;
			margin: 0.5em 0;
			text-align: center;
		}

#stat-generali {
					width: fit-content;
					max-width: 66%;
					margin: 0.5em auto 0.5em auto;
					padding: 0.5em;
					text-align: center;
					border:1px solid silver;
				}

#ListaBiblio {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				place-content: space-evenly;
			}

.ContenitoreBiblio { width: 250px; display: inline-block; }
.ContenitoreBiblio:hover { opacity: 1 !important }

.InfoSinteticheBiblio { text-align: center }
.InfoSinteticheBiblio * { margin-right: 0.5em; white-space: nowrap; }

.InfoDettagliateBiblio { padding: 0.5em; border-radius: 10px; background-color: rgba(128, 128, 128, 0.4); }
.FrameOSM { width: 100%; height: 250px; }

.WrapperIframe {
				width: 250px;
				height: 280px;
				overflow-y: hidden;
				overflow-x: hidden;
				background-image: url("res/ThrobberRolling.svg");
				background-repeat: no-repeat;
				background-position: center;
			}

.FrameGraficoPosti { border: none; height: 2000px; width: 100%; overflow-y: visible; }

#DataAggiornamento { font-weight: bold; }
#num-biblio-aperte, #capienza-aperte { font-weight: bold; font-size: 120%; }
#footer { margin-top: 0.8em; opacity: 0.6; text-align: center; background-color: rgba(128, 128, 128, 0.3) }

#loading-box {
				display: none;
				width: fit-content;
				margin: 0.5em auto 0.5em auto;
				border: 2px solid goldenrod;
				border-radius: 10px;
				font-weight: bold;
				background-color: gold;
				text-align: center;
				color: black;
				padding: 0.5em 1em;
			}

.progressbar-esterno { height: 1.5em; width: 15em; border: 2px solid gray; padding: 0; margin: auto; position: relative; }
.progressbar-interno { height: 100%; background-color: limegreen; margin: 0; }
.progressbar-valore { color: gray; width: 100%; height: 100%; text-align: center; vertical-align: middle; position: absolute; left: 0; top: 0.2em; }

/* Applico di default il tema giorno, per i browser che non supportano "prefers-color-scheme" */
body { background-color: white; color: black; }
h1, h2 { color: cornflowerblue; }
a { color: navy; }
button { background-color: gainsboro; color: black; }
.progressbar-esterno { background-color: white; }

/* TEMA GIORNO */
@media (prefers-color-scheme: light)
{
	body { background-color: white; color: black; }
	h1, h2 { color: cornflowerblue; }
	a { color: navy; }
	button { background-color: gainsboro; color: black; }
	.progressbar-esterno { background-color: white; }
}

/* TEMA NOTTE */
@media (prefers-color-scheme: dark)
{
	body { background-color: #111111; color: white; }
	h1, h2 { color: dodgerblue; }
	a { color: lightgoldenrodyellow; }
	button { background-color: #333333; color: white; }
	.progressbar-esterno { background-color: #111111; }
}